a,a:focus,a:hover{
text-decoration:none
}
h1,h2,h3,h4,h5{
line-height:normal
}
#MainMenu a,h2,h3,h4{
font-weight:700
}
body{
padding:0;margin:0;font-family:Arial,Helvetica,Tahoma,sans-serif;color:#666;background-color:#FFF;font-size:9pt;line-height:13pt
}
.list-group,.panel{
margin-bottom:20px
}
.list-group-submenu{
margin-left:20px
}
.content-area.container{
padding-top:2px;margin-top:22px
}
.container-left,.container-right{
display:block;float:left;width:28%;word-wrap:break-word;padding:0 10px 20px 0
}
.container-right{
border-left:2px dotted #ddd;min-height:296px;width:69%;padding:0 0 0 10px
}
#MainMenu .list-group div a{
padding-left:30px
}
#MainMenu a:focus,#MainMenu a:hover{
background:#eee;color:#f40
}
#MainMenu .list-group div a:focus,#MainMenu .list-group div a:hover{
background:#f7f9f8
}
.panel{
background-color:#fff;border:1px solid transparent;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)
}
.list-group{
padding-left:0
}
.list-group-item{
position:relative;display:block;padding:10px 15px;margin-bottom:-1px;background-color:#fff;border:1px solid #ddd;text-transform: uppercase;
}
.list-group-item-success{
background:#eee;color:#fff
}
a.list-group-item{
color:#555
}
#MainMenu a.activeIn,a,h1,h2,h3,h4,h5{
color:#f40
}
.list-group-item:first-child{
border-top-right-radius:4px;border-top-left-radius:4px
}
#MainMenu a.in{
color:#f40;background:#eee;
}
h1{
margin:0 0 -5px
}
h2,h3,h4,h5{
margin-top:0
}
h2{
font-size:13pt;padding-top:4px
}
h3{
font-size:14px
}
h4{
font-size:12px
}
#content_text h3{
padding-top:3px;padding-bottom:3px
}
.content-item.page header{
display:none;visibility:hidden
}
.well.banner-well{
text-align:center;padding:0;border:1px solid #d2d2d2;border-radius:5px;background-color:#fff;position:relative;overflow:hidden;box-shadow:0 0 3px 0 #d2d2d2;height:235px;
}
#content_container #content {
margin-left: 10px;
}
.line {
width: 100%;
height: 1px;
margin-bottom: 10px;
line-height: 0;
background: url(/Media/CMSMedia/Olympia_talent/line.gif) repeat-x;
position: relative;
left: -10px;
top: 0;
}
.line.line-OndernemerWorden {
width: 103%;
}
.bigger-speaker-box{
	margin: 0 0 30px 0;
}
.bigger-speaker-box + .bigger-speaker-box{
	margin: 0;
}
.speaker-box{
	position: relative;
}
.speaker-box.speaker1 .leftside-image{
	border: 2px solid #fff;
	border-radius: 100%;
	margin: 5px 10px;
}
.speaker-box.speaker1 .leftside-image img{
	border-radius: 100%;
}
.speaker-box .box-heading{
	border: 1px solid #ff4400;
	background: #ff4400;
	color: #fff;
	font-size: 15px;
	padding: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.box-body{
	padding: 15px 15px 0 15px;
	border: 1px solid #d2d2d2;
	box-shadow: 0 0 3px 0 #d2d2d2;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: 0;
}
.leftside-image,
.rightside-name{
	display: inline-block;
}
.rightside-name{
	height: 100%;
	vertical-align: middle;
}
.rightside-name span.name{
	font-size: 24px;
}
.rightside-name span.designation{
	font-size: 15px;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #ff4400;
	position: absolute;
	left: 35px;
}
#content_text ul {
list-style: none;
margin-left: 0;
padding-left: 0;
}
#content_text ul li {
padding-left: 15px;
background: url(/Media/CMSMedia/Olympia_talent/list-item.png) 2px 5px no-repeat;
}
.schedule-table .tables{
    display: inline-block;
    float: left;
}
.schedule-table .tables .table-heading,
.schedule-table .tables .table-content,
.schedule-table .tables .table-content .row{
	width: 450px;
}
.schedule-table .tables .table-heading .col,
.schedule-table .tables .table-content .col{
	display: inline-block;
	width: 25%;
}
.schedule-table .tables .table-heading .col,
.schedule-table .tables .table-content .col{
	display: inline-block;
	width: 25%;
}
.schedule-table .tables .table-content .col:last-child{
    width: 45%;
}
.schedule-table .tables .table-heading .col label{
	font-weight: 700;
}
.margin-0{
	margin: 0;
}
.schedule-table .image-block{
	/*margin: 10px 0 30px;*/
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	text-align: center;
	box-shadow: 0 0 3px 0 #d2d2d2;
    display: inline-block;
    width: 177px;
    vertical-align: middle;
    cursor: pointer;
}
.schedule-table .image-block img{
    height: 164px;
}
/* Featured Items Slider Widget */
.zone-featured .widget-featured-item-slider-widget
{
    margin: 17px 0px 0px;
}
div.slider-nav
{
    text-align: right;
    list-style-type: none;
    position: relative;
    right: 3px;
    top: -33px;
    height: 0px;
    margin: 0px 15px !important;
    z-index: 99;
}
div.slider-nav .sliderButtons
{
    display: inline-block;
    float: right;
    margin-left: 4px;
}
div.slider-nav a
{
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    font-size: 1px;
    line-height: 5px;
    background-color: #b3b3b3;
    border-radius: 10px;
    text-indent: 100px;
    overflow: hidden;
}
.featureSlider
{
    border: solid #ebebeb;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    background-color: white;
    position: relative;
    height: 188px;
    overflow: hidden;
    box-shadow: 0px 0px 3px 0px #d2d2d2;
    box-shadow: 0px 0px 3px 0px #d2d2d2\9;
}

.vacature-detail .featureSlider
{
    margin-bottom: 18px;    
}

.vacature-detail div.slider-nav {
    top: -50px;
}

/*In case we want taller sliders for JobType Visuals
.vacature-detail .featureSlider
{    
    height: 300px;
}*/

.featureSlider ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    border-radius: 5px;
}
.featureSlider img
{
    width: 100%;
    height: auto;
}
.featureSlider ul li
{
    display: block;
}
.featureSlider li
{
    height: 188px;
    width: 940px;
    border-radius: 5px;
}

.content .featureSlider li
{
    height: 188px;
    width: 620px;
}

/*In case we want taller sliders for JobType Visuals
.content .vacature-detail .featureSlider li
{
    height: 300px;
}*/

.featureSlider li p
{
    position: relative;
    top: 223px;
}
.headline
{
    padding-top: 10px;
    padding-right: 20px;
}
.headline, .headline + h2
{
    padding-right: 20px;
    text-align: right;
}

.featureSlider ul li span
{
    line-height: 38px;
    font-size: 38px;
    font-family: Calibri, sans-serif;
    letter-spacing: -1.6px;
    margin-left: -20px;
   /* text-transform: uppercase;*/
    border: 0;
    padding-bottom: 10px;
    border-bottom: none !important;
    width: 100%;
    font-weight: bold;
    height: auto;
    color: #ff4400;
}
.featureSlider ul li span a
{
    text-decoration: none;
}
.featureSlider ul li h2
{
    font-size: 15px;
    margin: 15px 10px 0 0;
    line-height: .75em;
    font-weight: normal !important;
    color: #ff4400;
    height: auto;
    line-height: 15px; 
}
.featureSlider ul li p
{
    font-size: 8px;
    margin-top: 10px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    text-align: right;
    padding: 0px 10px 0px 0px;
    margin: 0px;
}
.featureSlider ul li span
{
    display: block;
    margin: 0;
    padding: 32px 0 0;
    position: relative;
    right: 28px;
}

.hiddenItem
{
    display: none !important;
}
.featureSlider li span, .featureSlider li span a, .featureSlider li h2, .featureSlider li h2 a, .featureSlider li p.slideNumbers { color: #666666 !important; }
                .featureSlider li span {width: 0px;height: 0px; }
                .featureSlider li span img, .featureSlider li span a img {width: 0px;height: 0px; }
                div.slider-nav a.activeSlide { background-color: #666666; }

.link-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 10;
}                
.image-block{
    width: 100%;
}
.image-block .image-left{
    margin-right: 18px;
}
.image-block .image-left,
.image-block .image-right{
    width: 45%;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    float: left;
    padding: 10px;
}
.image-block .image-left img,
.image-block .image-right img{
    display: block;
    width: 100%;
}
.ui-widget-header.ui-dialog-titlebar{
  color: #ffffff;
  background: #ff4400;
}
.ui-widget-overlay {
    z-index: 1000;
    background: 50% 50% repeat-x #AAA;
    opacity: .3;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.overlay-map{
    background: rgba(0, 0, 0, 0.4);
    width: 177px;
    height: 164px;
    display: block;
    position: absolute;
    margin: 0 auto;
}
#kaartje_najaar p{
    position: absolute;
    vertical-align: middle;
    width: 177px;
    color: white;
    padding-top: 73px;
    font-weight: bold;
    font-size: 14px;
}
#kaartje_najaar:hover p{
    text-decoration: underline;
}