<p><img src="../../../Media/CMSMedia/toptalent/Miss-Olympia-toptalent.jpg" alt="" /></p>
<h2>In het najaar bent u van harte welkom</h2>
<table width="640">
<tbody>
<tr>
<td>
<p>Als u zich deze vakantie heeft opgeladen voor het najaar kunt u zich laten inspireren tijdens een van onze ontbijtsessies. We nodigen u dan ook graag uit. Twee gerenommeerde sprekers nemen u in de vroege ochtend mee in trends en ontwikkelingen rondom de thema&rsquo;s arbeidsmarkt, talent, ondernemen en verandering. Op een bijzondere locatie staan we met koffie en een ontbijt voor u klaar en bieden we nieuwe kennis, inzichten en frisse idee&euml;n. <br /><br /> Wellicht bent u vorig jaar ook aanwezig geweest bij een ontbijtsessie. Hieronder vind u een korte impressie van de ontbijtsessie georganiseerd in Rotterdam. <br /><br /></p>
</td>
</tr>
<tr>
<td><iframe src="https://www.youtube.com/embed/UxnS34EaBKU" frameborder="0" width="640" height="355"></iframe> <br /><br /> Wilt u weten wanneer de ontbijtsessie dit jaar bij u in de buurt wordt georganiseerd? Laat uw gegevens hieronder achter. U wordt dan automatisch op de hoogte gehouden en ontvangt van ons de offici&euml;le uitnodiging. <br /><br /></td>
</tr>
</tbody>
</table>
<table width="640">
<tbody>
<tr>
<td><iframe src="https://docs.google.com/forms/d/1O1wKAfX1ipKsbiTwbuWXmBYDzB4h8D_uvfeXkIcZJf0/viewform?embedded=true" frameborder="0" marginwidth="0" marginheight="0" width="699" height="690">Loading...</iframe><br /><br /></td>
</tr>
</tbody>
</table>
<table width="640">
<tbody>
<tr>
<td>Binnenkort vind u op deze pagina meer informatie en exacte data. Wilt u meer informatie neem dan contact op met de afdeling Marketing bij Olympia Nederland. <br /><br /> Olympia Nederland<br /> Eisenhowerlaan 140<br /> 2517 KN Den Haag<br /><br /><strong> T.</strong> 070 338 1066 <br /> <strong>E.</strong> marketing@olympia.nl <br /><br /></td>
</tr>
</tbody>
</table>
<p><img src="../../../Media/CMSMedia/toptalent/afbeelding%20voor%20link%20in%20e-mailing_DSC0730_klein.jpg" alt="" width="640" height="229" /></p>