<script type="text/javascript">// <![CDATA[
$("style").append('body{padding:0;margin:0;font-family:Arial,Helvetica,Tahoma,sans-serif;color:#666;background-color:#FFF;font-size:9pt;line-height:13pt}.block{width:100%;float:left}.block .left-side{margin-right:30px;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,.05);padding:10px}.block .left-side,.block .right-side{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);width:25.5%;float:left;display:inline-block;background-color:#fff;border:1px solid #e3e3e3}.block .right-side{border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,.05);padding:10px}.block img{width:99%}');
// ]]></script>

<p>De Wet en Regelgeving op het gebied van de arbeidsmarkt verandert continue. Olympia Uitzendbureau zet de belangrijkste wijzigingen en consequenties op een rij. Hieronder staan de verschillende onderwerpen overzichtelijk per factsheet uitgelegd. Uiteraard houden we dit actueel en vullen we dit aan met het laatste nieuws.</p>
<p>Olympia Uitzendbureau zoekt graag gezamenlijk naar de beste en passende oplossingen. Voor advies kunt u altijd <a title="Olympia Uitzendbureau vestigingen" href="../../../Vestigingen-Olympia-Uitzendbureau%20" target="_blank"><span style="text-decoration: underline;">contact</span></a> opnemen met onze vestiging bij u in de buurt.<br /></p>
<div class="block">
	<div class="left-side">
		<a title="Factsheet - Inlenersbeloning &amp; Wet aanpak schijnconstructies" href="/Media/CMSMedia/wet-en-regelgeving/20150813_factsheet_WAS_BRI.pdf" target="_blank"><img src="/Media/CMSMedia/wet-en-regelgeving/image1.jpg"  /></a>
	</div>
	<div class="right-side">
		<a title="Factsheet - Ontslagrecht" href="../../../Media/CMSMedia/wet-en-regelgeving/20150813_factsheet_ontslagrecht.pdf" target="_blank"><img src="/Media/CMSMedia/wet-en-regelgeving/image2.jpg"  /></a>
	</div>
</div>
<p>&nbsp;</p>
<div class="block">
	<div class="left-side">
		<a title="Factsheet - Participatiewet" href="../../../Media/CMSMedia/wet-en-regelgeving/20150813_factsheet_participatiewet.pdf" target="_blank"><img src="/Media/CMSMedia/wet-en-regelgeving/image3.jpg"  /></a>
	</div>
	<div class="right-side">
		<a title="Factsheet - Transitievergoeding" href="../../../Media/CMSMedia/wet-en-regelgeving/20150813_factsheet_transitievergoeding.pdf" target="_blank"><img src="/Media/CMSMedia/wet-en-regelgeving/image4.jpg"  /></a>
	</div>
</div>